/* src/pages/RegistrarUsuarioWeb.css */

.autenticar-usuario-web {
  font-family: 'MONTSERRAT', sans-serif; 
  background: #D6FFFF;
  display: flex;
  width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  box-sizing: border-box;
}

.autenticar-usuario-web .container {
  background: #395959;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Ajusta el ancho al 50% para que ocupe la mitad derecha de la pantalla */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  box-sizing: border-box;
}

.autenticar-usuario-web .container-2 {
  background: #D6FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Ajusta el ancho al 50% para que ocupe la mitad izquierda de la pantalla */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  box-sizing: border-box;
}

.autenticar-usuario-web .educational-virtual-assistant-eva-10 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  position: absolute; /* Posicionamiento absoluto */
  bottom: 20px; /* Ajusta según sea necesario */
  right: 20px; /* Ajusta según sea necesario */
}

.autenticar-usuario-web .image-10 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('/assets/images/Image10.png') 50% / cover no-repeat;
  margin: 0 0.1px 779.5px 20px;
  align-self: flex-start;
  width: 50px;
  height: 50px;
}

.autenticar-usuario-web .button1 {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  right: 23rem;
}

.autenticar-usuario-web .logo {
  display: block;
  margin: auto;
  width: 100px;
}

.autenticar-usuario-web .message-box {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 20px;
  text-align: center;
}

.autenticar-usuario-web .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* Posiciona el elemento de forma absoluta respecto a su contenedor más cercano con posición relativa */
  top: 30%; /* Posiciona el elemento en la mitad de la altura del contenedor */
  color: #000;
}

.autenticar-usuario-web .input-field {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.autenticar-usuario-web .login-button,
.autenticar-usuario-web .register-button {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.autenticar-usuario-web .login-button {
  background-color: #000;
  color: #fff;
}

.autenticar-usuario-web .register-button {
  background-color: #007bff;
  color: #fff;
}

.autenticar-usuario-web .header {
  align-items: center;
  position: absolute; 
  top: 100px; 
  left: 26%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: #000;
}