/* src/pages/DashboardWebAlu.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e0f7fa;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #395959;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-image {
  width: 150px;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* Offset to make space for the sidebar */
}

.courses {
  text-align: left;
}

.courses h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.course-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.add-course-button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10%;
  width: 10px;
  height: 20px;
  font-size: 24px;
  cursor: pointer;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.chat-message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #000;
  color: #fff;
}

.eva-message {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #000;
}

.chat-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #e0f7fa;
}

.footer-link {
  font-family: 'Inter', sans-serif;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
