/* src/pages/InicioWeb.css */
.inicio-container {
  text-align: center;
  background-color: #D6FFFF;
  height: 95vh; 
  width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.header {
  margin-top: 20px;
  color: #000;
}

.logo {
  width: 100px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-box {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #454545;
  width: 100%;
  padding: 10px;
  background-color: #D6FFFF;
}

.footer-link {
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
}
